.slick-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slick-card .slick-img img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid var(--green-color);
    box-shadow: var(--dark-shadow);
}
.slick-name h6{
    text-align: center;
    color: var(--green-color);
}