@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root{
    --black-color: #000;
    --light-black: #1b1e1e;
    --white-color: #fff;
    --light-green: #5a027117;
    --green-color: #5A0271;
    --light-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    --dark-shadow: 0 0 30px 0 rgba(14,41,50,.08);
    --main-font: 'Didact Gothic', sans-serif;
    --para-font: 'Barlow', sans-serif;
    --para-color: #9E9E9E;
    --transition: 0.5s linear;
}
.form-control:focus{
    box-shadow: var(--dark-shadow);
    outline: none;
    border-color: rgba(255,255,255,0.3);
    background: transparent;
}
.section{
    padding: 40px 20px;
}
ul,ol{
    margin: 0;
    padding: 0;
}
ul li,
ol li{
    list-style: none;
}
h1,h2,h3,h4,h5{
    margin: 0;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--black-color);
}
p{
    margin: 0;
    font-size: 18px;
    font-family: var(--para-font);
}
a{
    font-family: var(--para-font);
    text-decoration: none;
}
img{
    max-width: 100%;
    object-fit: cover;
}
button{
    background: transparent;
    border: none;
    outline: none;
}
.submit-btn {
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 8px;
    background: var(--green-color);
    box-shadow: var(--light-white);
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: var(--white-color);
    padding: 8px 20px;
    font-family: var(--main-font);
    transition: var(--transition);
    width: 100%;
    border: 1px solid var(--green-color);
}
.heading h2 {
    color: var(--green-color);
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}